<h2 mat-dialog-title>
  {{ isEditing ? "Editar agendamento" : "Criar agendamento" }}
</h2>
<form [formGroup]="appointmentForm" (ngSubmit)="saveAppointment()">
  <mat-dialog-content align="center">
    <mat-form-field>
      <mat-label>Paciente</mat-label>
      <mat-select formControlName="user">
        <mat-option *ngFor="let user of usersNamesAndIds" [value]="user.id">{{
          user.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Selecione uma data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Selecione o horário</mat-label>
      <mat-select formControlName="time">
        <mat-option *ngFor="let time of times" [value]="time">{{
          time
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    @if(editAppointment){
    <mat-chip>{{ StatusString }}</mat-chip>
    }
  </mat-dialog-content>
  
  <mat-dialog-actions [align]="'end'">
    <button mat-raised-button type="submit" color="primary">
      {{ isEditing ? "Editar" : "Salvar" }}
    </button>
    @if(isEditing){
      <button
        mat-raised-button
        class="green-button"
        (click)="completeAppointment()"
      >
        Concluir agendamento
      </button>
      <button mat-raised-button color="warn" (click)="cancelAppointment()">
        Cancelar agendamento
      </button>
      }
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>
  
  
</form>
