
<button (click)="createAppointment()" type="button" class="btn btn-primary">
    <i class="bi bi-plus-lg"></i>
    Agendar</button>

@if(appointments.length > 0){
    <h2 class="my-2">Meus agendamentos <i class="bi bi-calendar-event" [matBadge]="appointments.length"></i></h2>

    <table mat-table [dataSource]="appointments" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> userId </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <ng-container matColumnDef="appointmentDate">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.appointmentDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="appointmentTime">
            <th mat-header-cell *matHeaderCellDef> Horário </th>
            <td mat-cell *matCellDef="let element"> {{element.appointmentTime}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">{{getStatusString(element.status)}}</td>
        </ng-container>

        <ng-container matColumnDef="dateOfCreation">
            <th mat-header-cell *matHeaderCellDef> Data de criação </th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfCreation | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
                @if(element.status === 1){
                    <button  (click)="editAppointment(element.id)" type="button" class="btn btn-primary">Editar</button>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
}
@else {
    <p>Você ainda não possui nenhum agendamento, vamos começar! 😍</p>
}
